In [ ]:
#Ecommerce Purchases Exercise
#In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and 
#try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways.
#For the most part, the questions get progressively harder.
#Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.
#Also note that all of these questions can be answered with one line of code

In [5]:
#Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **
import pandas as pd
ecom=pd.read_csv("C:/Users/Malabar Tech/Desktop/ecommerce_purchase.csv")

In [6]:
#Check the head of the DataFrame.
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.010000e+15,20-Feb,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.340000e+15,18-Nov,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.760000e+11,19-Aug,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.010000e+15,24-Feb,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.010000e+15,25-Oct,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [7]:
#How many rows and columns are there? 
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  float64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.1+ MB

In [8]:
#What is the average Purchase Price?
ecom['Purchase Price'].mean()

50.347302

In [9]:
#What were the highest and lowest purchase prices?
ecom['Purchase Price'].max()

99.99

In [10]:
ecom['Purchase Price'].min()

0.0

In [11]:
#How many people have English 'en' as their Language of choice on the website? 
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [12]:
#How many people have the job title of Lawyer
ecom[ecom['Job'] == 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     float64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(2), int64(1), object(11)
memory usage: 3.5+ KB

In [13]:
# How many people made the purchase during the AM and how many people made the purchase during PM ?
ecom.value_counts('AM or PM')

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [14]:
#What are the 5 most common Job Titles?
ecom['Job'].value_counts().head(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [15]:
#Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?
(ecom[ecom['Lot'] == '90 WT']['Purchase Price'])

513    75.1
Name: Purchase Price, dtype: float64

In [16]:
#What is the email of the person with the following Credit Card Number: 4926535242672853 
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

Series([], Name: Email, dtype: object)

In [17]:
#How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?
(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)]).count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [18]:
#Hard: How many people have a credit card that expires in 2025? 
(ecom['CC Exp Date'].str.endswith('25')).sum()

0

In [19]:
#Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc..
( ecom['Email'].str.split('@').str[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64