In [1]:
# DataFrame row,column selection:
# Example
import pandas as pd
data = {'Name': ['A', 'B', 'C', 'D', 'E'],'Age': [25, 30, 35, 40, 45],'Gender': ['F', 'M', 'M', 'M', 'F'],'City': ['X', 'Y', 'Z', 'W', 'S']}

df = pd.DataFrame(data)

# Selecting a single column
name_column = df['Name']
print(name_column)

# Selecting multiple columns
subset = df[['Name', 'Age']]
print(subset)

# Selecting rows based on condition
subset_age_35plus = df[df['Age'] > 35]
print(subset_age_35plus)

# Selecting rows and columns using iloc (index-based selection)
subset_iloc = df.iloc[1:3, 0:2]  # Rows 1 and 2, Columns 0 and 1
print(subset_iloc)

# Selecting rows and columns using loc (label-based selection)
subset_loc = df.loc[1:3, ['Name', 'Age']]  # Rows 1 to 3, Columns 'Name' and 'Age'
print(subset_loc)

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object
  Name  Age
0    A   25
1    B   30
2    C   35
3    D   40
4    E   45
  Name  Age Gender City
3    D   40      M    W
4    E   45      F    S
  Name  Age
1    B   30
2    C   35
  Name  Age
1    B   30
2    C   35
3    D   40

In [2]:
# conditional selection:
# Example
import pandas as pd
data = {'Name': ['A', 'B', 'C', 'D', 'E'],'Age': [25, 30, 35, 40, 45],'Gender': ['F', 'M', 'M', 'M', 'F'],'City': ['X', 'Y', 'Z', 'W', 'S']}

df = pd.DataFrame(data)

# Filter rows where Age is greater than 30
a = df[df['Age'] > 30]
print(a)

# Filter rows where Gender is Male
b = df[df['Gender'] == 'M']
print(b)

# Combine multiple conditions using logical operators like & (AND) and | (OR)
c = df[(df['Gender'] == 'M') & (df['Age'] > 30)]
print(c)

  Name  Age Gender City
2    C   35      M    Z
3    D   40      M    W
4    E   45      F    S
  Name  Age Gender City
1    B   30      M    Y
2    C   35      M    Z
3    D   40      M    W
  Name  Age Gender City
2    C   35      M    Z
3    D   40      M    W

In [3]:
# Query(): select row using query
# Example
import pandas as pd
data = {'Name': ['A', 'B', 'C', 'D', 'E'],'Age': [25, 30, 35, 40, 45],'Gender': ['F', 'M', 'M', 'M', 'F'],'City': ['X', 'Y', 'Z', 'W', 'S']}

df = pd.DataFrame(data)

subset=df.query('Age>30')
print(subset)

  Name  Age Gender City
2    C   35      M    Z
3    D   40      M    W
4    E   45      F    S

In [4]:
# column add,delete,update:
# Example
# add new column C
import pandas as pd
data={'A':[1,3,7,9,11],'B':['a','b','c','d','e']}
df=pd.DataFrame(data)
df['C']=[2,4,6,8,10]
print(df)

    A  B   C
0   1  a   2
1   3  b   4
2   7  c   6
3   9  d   8
4  11  e  10

In [5]:
# Example
# delete column B

df = df.drop('B', axis=1)
print(df)

    A   C
0   1   2
1   3   4
2   7   6
3   9   8
4  11  10

In [6]:
# Example
# update values in column A
import pandas as pd
data={'A':[1,3,7,9,11],'B':['a','b','c','d','e']}
df=pd.DataFrame(data)
df['A']=[2,4,6,8,10]
print(df)

    A  B
0   2  a
1   4  b
2   6  c
3   8  d
4  10  e

In [7]:
# Index:To set a column as the index of the dataframe,use the set_index() function.
# Example
# Set column 'B' as the index
import pandas as pd
data={'A': [1, 2, 3, 4],'B': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data)
df.set_index('B', inplace=True)
print(df)

   A
B
a  1
b  2
c  3
d  4

In [8]:
# Removing Index: To remove the index and reset it to the default integer index, use the reset_index() function. 
# Example
import pandas as pd
data={'A': [1, 2, 3, 4],'B': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data)
df.reset_index(inplace=True)
print(df)

   index  A  B
0      0  1  a
1      1  2  b
2      2  3  c
3      3  4  d

In [9]:
# Example
import pandas as pd
data={'A': [1, 2, 3, 4],'B': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data)
df.reset_index(drop=True,inplace=True)
print(df)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d

In [10]:
# Operation:
# Addition using the add() method:
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
a=df1+df2
print(a)
b=df1.add(df2) # Alternative method
print(b)

    A   B
0   8  14
1  10  16
2  12  18
    A   B
0   8  14
1  10  16
2  12  18

In [11]:
# Subtraction using the sub() method:
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
c=df1-df2
print(c)
d=df1.sub(df2) # Alternative method
print(d)

   A  B
0 -6 -6
1 -6 -6
2 -6 -6
   A  B
0 -6 -6
1 -6 -6
2 -6 -6

In [12]:
# Multiplication using the mul() method:
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
e=df1*df2
print(e)
f=df1.mul(df2) # Alternative method
print(e)

    A   B
0   7  40
1  16  55
2  27  72
    A   B
0   7  40
1  16  55
2  27  72

In [13]:
# Division using the div() method
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
m=df1/df2
print(m)
n=df1.div(df2) # Alternative method
print(n)

          A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000
          A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000