In [ ]:
#set
#sets are used to start multiple items in a single variable.
#set is one of 4 built-in-in data type in python used to store collection of data.
#the other 3 are list ,tuple and Dictionary all withdifferent qualities and usage.
#A set is a collection which is unordered , changeable,unindexed.
#Note:set items are unchangable , but you can remove items and odd new items.

In [4]:
#sets are written with curly brackets.
#example
set={"red","yellow","green"}
print(set)

{'yellow', 'red', 'green'}

In [ ]:
#set items
#set items are unordered , unchangable,and do not allow duplivation values.
#unordered
#unordered means that the items in aset do not have a defined order.
#set items can appear in a different order every time you ude then, and cannot be reffered to by index or key.
#unchangable
#set items are unchangable , meaning that we cannot change the items after the set has been created
#once aset is created,you cnnot change its items but  you can remove items and add new items.

In [5]:
#Duplication not allowded
#set cannot have two items with the same value.
#example
#Duplication value will be ignore:
set={"red","blue","Yellow","blue","red","Yellow"}
print(set)

{'blue', 'Yellow', 'red'}

In [6]:
#The value True and 1 are considered the same value in sets, and are treated as duplication
#example
#True and 1 is consired the same value:
set={"apple","banana","grapes",True,1,2}
print(set)

{'grapes', 2, True, 'banana', 'apple'}

In [7]:
#The value False and 0 are considered the same value in sets, and are treated as duplication
#example
#False and 0 is consired the same value:
set={"apple","banana","grapes",False,0,5}
print(set)

{False, 'grapes', 5, 'banana', 'apple'}

In [8]:
#length of a set
#To determine how many items a set has,use len() function
#example
set={"red","blue","Yellow","blue","red","Yellow"}
print(len(set))

3

In [9]:
#set items-data types
#set items can be of any data type:
#example
set1={"blue","Yellow","blue","red","Yellow"}
set2={3,5,7,8,9,2}
set3={True,False,True}
print(set1)
print(set2)
print(set3)

{'blue', 'Yellow', 'red'}
{2, 3, 5, 7, 8, 9}
{False, True}

In [10]:
#set can contains diffetent data types:
#example
#A set with strings, integers and boolen values;
set1={"shraddha",24,True,12,"female"}
print(set1)

{True, 24, 'shraddha', 'female', 12}

In [11]:
#type()
#sets are defined as objects with the data type 'set':<class'set'>
#example
set={"blue","Yellow","blue","red","Yellow"}
print(type(set))

<class 'set'>

In [12]:
#The set() Constructor
#It is also possible to use the set() constructor to make a set
#Example
#using the set() constructor to make a set:
myset=set(("blue","red","green"))#note the double round-brackets
print(myset)

TypeError: 'set' object is not callable